<section class="new-expense-section">
  <nav class="common-nav">
    <%= link_to "â†", expense_path(@expense), class: "back-home" %>
  </nav>

  <h2 class="form-title"> New Transaction </h2>

  <%= form_with(model: [@expense, @payment], url: expense_payments_path(@expense), method: :post, id: 'payment-form', class: "expense-form") do |form| %>
    <div>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-input" %>
    </div>

    <div>
      <%= form.label :amount, class: "form-label" %>
      <%= form.number_field :amount, class: "form-input" %>
    </div>

    <div class="checkboxes">
      <div class: "form-label">Select Categories </div>
      <% @expenses.each_with_index do |expense, index| %>
        <%= check_box_tag 'payment[expense_ids][]', expense.id %>
        <%= label_tag "payment_expense_#{expense.id}", expense.name %> <br>
      <% end %>
    </div>

    <div>
      <%= form.submit 'Create Transaction', class: 'submit-btn' %>
    </div>
  <% end %>
</section>
