<nav class="common-nav">
  <%= link_to(image_tag("left-arrow.svg", alt: "Back Arrow"), "javascript:history.go(-1)", class: 'back-icon') %>
</nav>

<section class="new-expense-section">
  <h2 class="form-title"> New Transaction </h2>

  <%= form_with(model: [@expense, @payment], url: expense_payments_path(@expense), method: :post, id: 'payment-form', class: "field") do |form| %>
    <div>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, placeholder:"Name", class: "form-input" %>
    </div>

    <div>
      <%= form.label :amount, class: "form-label" %>
      <%= form.number_field :amount, placeholder:"Amount", class: "form-input" %>
    </div>

    <div class="checkbox-container">
      <div class="checkboxes">
        <div class: "form-label">Select Categories </div>
        <% @expenses.each_with_index do |expense, index| %>
          <%= check_box_tag 'payment[expense_ids][]', expense.id %>
          <%= label_tag "payment_expense_#{expense.id}", expense.name %> <br>
        <% end %>
      </div>

      <div class="transaction-container">
        <%= form.submit 'Create Transaction', class: 'payment-submit-btn' %>
      </div>
    <% end %>
  </div>
</section>
